
.separator{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    height: 500px;
}
.separator:nth-child(2){
    border-left: solid 2px black;
}
    .form-group{
        margin: 15px;
    }
.large{
	font-size: 2em;
}

.word{
	margin: 25px;
}